TABLE          { 
border-collapse: separate;
border: 1px solid blue; }

TD.solid-blue  { border: 1px dashed blue; }
TR.solid-green { border: 1px solid green;background-color: rgb(153, 255, 153); }
TABLE.externaLink {border: 0px;}
TD.externaLink {border: 0px;}
TR.externaLink {border: 0px;}

tr.prodAgentRunning{
	background-color: rgb(153, 255, 153); 
	vertical-align: center;
	//font-family: verdana;
	font-style:italic;
	font-size: 14px;
}
td.prodAgentH{
	font-weight: bold;
	font-size: 17px;
	text-align: center;
}
tr.prodAgentNotRunning{
	background-color: rgb(255, 102, 102);
	vertical-align: center;
	//font-family: verdana;
	font-style:italic;
	font-size: 14px;
}
TR.hd { border: 1px solid green;background-color: rgb(153, 255, 153); font-weight: bold; font-size: 14pt;}
TR.hd2 { border: 1px solid green;background-color: rgb(103, 205, 103); font-weight:bold; font-size: 13pt;}
tr {background: #ffffff;}

tr.off {background: #eeeeee;}
tr.on {background: #EAF946;}
TABLE.popup{background-color: #424242;}
td.popup{}
tr.popup{}
