#menu-container {
	height:16em;
	float: left;
	border-left: 2px solid #CCCCCC;
	border-top: 2px solid #CCCCCC;
	border-bottom: 2px solid #CCCCCC;
}

ul{
	margin: 0;
	padding-left: 0;
	list-style: none;
	width: 10em;
}

#menu-container li {
	width: 10em;
}

li.visited {
	width: 10em;
	border: 2px solid #99CCCC;
}

li.charts-menu-main-items {
	background-color: #99CCCC;
	text-align: center;
	border: 1px solid #0000FF;
}

#form-selection {
	float: left;
	height: 110px;
 	border: 2px solid #99CCCC;
}


